/* General */
:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    /*se crean varibles para tener tamaños de letra ya especificados para su uso general*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* clase para desactivar ventanas, para despues manipularlas con JS */
.inactive {
    display: none;
}

/* nav General */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}

.menu {
    display: none;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 60px;
}   

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 24px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 6px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 8px;
}

.navbar-right ul li:nth-child(2) {
    margin-right: 24px;
}

.navbar-right ul .flecha-abajo {
    transform: rotate(90deg);
    width: 4px;
    height: 9px;
    cursor: pointer;
}

.navbar-shoping-cart {
    position: relative;
    cursor: pointer;
}

.navbar-shoping-cart div {
    width: 10px;
    height: 10px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    top: -2px;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu mobile */
.mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 61px;
    left: 0;
    width: calc(100% - 24px);
    padding-left: 24px;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0px 0px 0px;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:nth-child(2) {
    margin-top: 50px;
}

.mobile-menu ul li {
   margin-bottom: 24px;
}

.mobile-menu ul:last-child {
    margin-bottom: 36px;
}

.mobile-menu ul:last-child li {
    margin-bottom: 4px;
}

.mobile-menu .email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu .sign-out {
    color: var(--hospital-green);
    font-size: var(--sm);
    margin: 0;
}

/* Menu Desktop */
.desktop-menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
    padding: 20px 20px 0px 20px;
}

.desktop-menu ul {
    list-style: none;/*se usa para quitar los puntos al inicio de las listas*/
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1), 
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

/* <Aside general*/
aside {
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background-color: var(--white);
}

/*Shipping Cart  */

#shoppingCartContainer{
    padding: 0px 24px;
}

.title-container {
    display: flex;  
}

.title-container img {
    transform: rotate(180deg); 
    margin-right: 14px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    background-color: var(--text-input-field);
    align-items: center;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.order p span:nth-child(1) {
    font-size: var(--md);
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);

}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
    
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart img:hover {
    cursor: pointer;
}

.primary-button {
    background: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;/*para que al poner el cursor sobre el boton cambie el cursor a una mano*/
    font-size: var(--md);
    font-weight: bold;/*para poner grosor al texto en este caso esta en negrita*/
    height: 50px;
}

/* Product Detail */
.product-detail-close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: var(--white);
    padding: 4px;
    border-radius: 50%;
    
}

.product-detail-close:hover {
    cursor: pointer;
}

#productDetail > img:nth-child(2) {
    width: 100%;
    height: 360%;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.primary-botton img {
    margin-right: 10px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

#productDetail .product-info {
    margin: 24px 24px 0px 24px;
}

#productDetail .product-info p:nth-child(1) {
  font-size: var(--md); 
  font-weight: bold; 
  margin-top: 0;
  margin-bottom: 4px;
}

#productDetail .product-info p:nth-child(2) {
  font-size: var(--md); 
  color: var(--very-light-pink);
  margin-bottom: 24px;
  margin-top: 0;
}

#productDetail .product-info p:nth-child(3) {
  font-size: var(--sm); 
  color: var(--very-light-pink);
  margin-bottom: 24px;
  margin-top: 0;
}

/* Home products */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 26px;
    place-content: center;
    margin-top: 18px;
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-card .product-info div p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
}

.product-card .product-info figure {
    margin: 0;
}

.product-card .product-info figure img {
    width: 35px;
    height: 35px;
}

/* Responsive */
@media (max-width: 640px) {
    .menu {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email{
      display: none;
    }

    .flecha-abajo {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .product-detail {
        width: 100%;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}